[submodule "flutter_module_c"]
	path = flutter_module_c
	url = https://github.com/AlvinaC/flutter_module_c.git
[submodule "flutter_module_a"]
	path = flutter_module_a
	url = https://github.com/AlvinaC/flutter_module_a.git
